.ms_container {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.ms_container .head {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_container .head .head_span1 {
  width: 400px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_container .head .head_span1 .chat_img1 {
  width: 20%;
  padding: 3px;
  border: 2px solid #888888;
  border-radius: 50px;
}

.ms_container .head .head_span1 .chat_span2 {
  margin-left: 20px;
}

.ms_container .head .head_span1 .chat_span2 .chat_text1 {
  font-size: 25px;
  font-weight: 600;
}

.ms_container .head .head_span1 .chat_span2 .chat_text2 {
  color: #8D8D8D;
  font-size: small;
}

.ms_container .head .chat_link1 {
  padding: 5px 20px;
  color: #7E7E7E;
  background-color: #F4F4F4;
  border-radius: 4px;
  font-weight: 500;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .head .chat_link1 .fa-solid {
  margin-right: 5px;
}

.ms_container .head .chat_link1:hover {
  background-color: #004267;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.ms_container .chat_list {
  width: 100%;
  margin: 0 auto;
}

.ms_container .chat_list .chat_text3 {
  font-size: larger;
  margin-bottom: 20px;
  margin-top: 50px;
}

.ms_container .chat_list .chat_item {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #B5B5B5;
  background-color: #F9F9F9;
  border-radius: 10px;
  margin-top: 25px;
}

.ms_container .chat_list .chat_item .imgs {
  width: 35%;
  margin-left: 20px;
  margin-right: 20px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_container .chat_list .chat_item .imgs .chat_img2 {
  width: 31.5%;
  height: 70%;
}

.ms_container .chat_list .chat_item .animate {
  width: 35%;
  height: 200px;
  padding-top: 15px;
}

.ms_container .chat_list .chat_item .animate .spanz {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_container .chat_list .chat_item .animate .spanz .animating_text {
  font-size: 25px;
  font-weight: 600;
  color: #004267;
}

.ms_container .chat_list .chat_item .animate .spanz .text1 {
  margin-left: 15px;
  font-size: 15px;
  color: #ADADAD;
  margin-right: 2px;
}

.ms_container .chat_list .chat_item .animate .spanz .text2 {
  color: #626262;
  margin-left: 5px;
}

.ms_container .chat_list .chat_item .animate .spanw {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ms_container .chat_list .chat_item .animate .spanw .process {
  width: 50%;
  height: 130px;
}

.ms_container .chat_list .chat_item .animate .spanw .process .process_text1 {
  color: #494949;
  margin-top: 15px;
}

.ms_container .chat_list .chat_item .animate .spanw .process .deadred {
  width: 90%;
  height: 20px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #ECECEC;
}

.ms_container .chat_list .chat_item .animate .spanw .process .deadred .red {
  width: 40%;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}

.ms_container .chat_list .chat_item .animate .spanw .process .subtext {
  margin-top: 10px;
  font-size: small;
  color: #BDBDBD;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline {
  width: 50%;
  height: 130px;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline .text_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline .text_span .dead_text {
  color: #494949;
  margin-top: 15px;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline .text_span .dead_num {
  margin-top: 14px;
  margin-left: 10px;
  font-size: large;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline .deadgreen {
  width: 90%;
  height: 20px;
  border-radius: 20px;
  margin-top: 13px;
  background-color: #ECECEC;
}

.ms_container .chat_list .chat_item .animate .spanw .deadline .deadgreen .green {
  width: 40%;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}

.ms_container .chat_list .chat_item .part3 {
  width: 25%;
  margin-left: auto;
  height: 200px;
  margin-top: 40px;
}

.ms_container .chat_list .chat_item .part3 .part3_top {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ms_container .chat_list .chat_item .part3 .part3_top .p3t_text {
  color: #676767;
  margin-top: 13px;
}

.ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
  width: 300px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item .part3 .part3_top .p3t_link {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border: 1px solid #414141;
  border-radius: 5px;
  color: #474747;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item .part3 .part3_top .p3t_link:hover {
  background-color: #004267;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.ms_container .chat_list .chat_item .part3 .part3_bottom {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ms_container .chat_list .chat_item .part3 .part3_bottom .p3b_text {
  color: #676767;
  margin-left: 30px;
}

.ms_container .chat_list .chat_item .part3 .part3_bottom .p3b_link {
  color: #676767;
  margin-left: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item .part3 .part3_bottom .p3b_link:hover {
  color: red;
}

.ms_container .chat_list .chat_item2 {
  width: 100%;
  margin-top: 25px;
  border: 1px solid #B5B5B5;
  background-color: #F9F9F9;
  border-radius: 10px;
}

.ms_container .chat_list .chat_item2 .images {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ms_container .chat_list .chat_item2 .images .ci2_img {
  width: 135px;
  height: 145px;
  border-radius: 3px;
}

.ms_container .chat_list .chat_item2 .footer {
  width: 97%;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ms_container .chat_list .chat_item2 .footer .animate {
  width: 35%;
  height: 200px;
  padding-top: 15px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanz {
  width: 80%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanz .animating_text {
  font-size: 25px;
  font-weight: 600;
  color: #004267;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanz .text1 {
  margin-left: 15px;
  font-size: 15px;
  color: #ADADAD;
  margin-right: 2px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanz .text2 {
  color: #626262;
  margin-left: 5px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .process {
  width: 50%;
  height: 130px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .process .process_text1 {
  color: #494949;
  margin-top: 15px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .process .deadred {
  width: 90%;
  height: 20px;
  margin-top: 15px;
  border-radius: 20px;
  background-color: #ECECEC;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .process .deadred .red {
  width: 40%;
  height: 20px;
  border-radius: 20px;
  background-color: red;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .process .subtext {
  margin-top: 10px;
  font-size: small;
  color: #BDBDBD;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline {
  width: 50%;
  height: 130px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline .text_span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline .text_span .dead_text {
  color: #494949;
  margin-top: 15px;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline .text_span .dead_num {
  margin-top: 14px;
  margin-left: 10px;
  font-size: large;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline .deadgreen {
  width: 90%;
  height: 20px;
  border-radius: 20px;
  margin-top: 13px;
  background-color: #ECECEC;
}

.ms_container .chat_list .chat_item2 .footer .animate .spanw .deadline .deadgreen .green {
  width: 40%;
  height: 20px;
  border-radius: 20px;
  background-color: green;
}

.ms_container .chat_list .chat_item2 .footer .part3 {
  width: 25%;
  margin-left: auto;
  height: 200px;
  margin-top: 40px;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p3t_text {
  color: #676767;
  margin-top: 13px;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
  width: 300px;
  height: 40px;
  margin-right: 20px;
  border: 1px solid #B7B7B7;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p3t_link {
  width: 120px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border: 1px solid #414141;
  border-radius: 5px;
  color: #474747;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p3t_link:hover {
  background-color: #004267;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
  height: 30%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom .p3b_text {
  color: #676767;
  margin-left: 30px;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom .p3b_link {
  color: #676767;
  margin-left: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom .p3b_link:hover {
  color: red;
}

@media (max-width: 1250px) {
  .ms_container {
    width: 1250px;
  }
}

@media (max-width: 1140px) {
  .ms_container {
    width: 1140px;
    margin: 0 auto;
  }
  .ms_container .chat_list {
    width: 1140px;
  }
}

@media (max-width: 1050px) {
  .ms_container {
    width: 1050px;
    margin: 0 auto;
  }
  .ms_container .chat_list {
    width: 1000px;
    margin: 0 auto;
  }
  .ms_container .chat_list .chat_item {
    width: 1000px;
  }
  .ms_container .chat_list .chat_item2 {
    width: 1000px;
  }
}

@media (max-width: 975px) {
  .ms_container {
    width: 975px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 920px;
    height: 80px;
    margin-left: 20px;
  }
  .ms_container .head .head_span1 {
    width: 360px;
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 120px;
    font-size: 16px;
  }
  .ms_container .chat_list {
    width: 900px;
    margin: 0 auto;
  }
  .ms_container .chat_list .chat_item {
    width: 900px;
    height: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 430px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 410px;
    margin-left: 10px;
  }
  .ms_container .chat_list .chat_item .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 290px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 {
    width: 900px;
    height: 400px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 890px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 115px;
    height: 140px;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 350px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 350px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 850px) {
  .ms_container {
    width: 850px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 810px;
    height: 80px;
    margin-left: 20px;
  }
  .ms_container .head .head_span1 {
    width: 300px;
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 110px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 800px;
    margin: 0 auto;
  }
  .ms_container .chat_list .chat_item {
    width: 800px;
    height: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 380px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 360px;
    margin-left: 10px;
  }
  .ms_container .chat_list .chat_item .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 {
    width: 800px;
    height: 400px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 790px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 107px;
    height: 140px;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 500px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 250px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 775px) {
  .ms_container {
    width: 775px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 730px;
    height: 80px;
    margin-left: 20px;
  }
  .ms_container .head .head_span1 {
    width: 300px;
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 110px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 700px;
    margin: 0 auto;
  }
  .ms_container .chat_list .chat_item {
    width: 700px;
    height: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 300px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 320px;
    margin-left: 10px;
  }
  .ms_container .chat_list .chat_item .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 {
    width: 700px;
    height: 400px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 690px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 95px;
    height: 140px;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 450px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .animate .spanz {
    width: 300px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 250px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 650px) {
  .ms_container {
    width: 650px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 610px;
    height: 80px;
    margin-left: 20px;
  }
  .ms_container .head .head_span1 {
    width: 300px;
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 110px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 600px;
    margin: 0 auto;
  }
  .ms_container .chat_list .chat_item {
    width: 600px;
    height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 600px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 210px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 {
    width: 600px;
    height: 600px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 600px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 135px;
    height: 140px;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 600px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 650px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 220px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 525px) {
  .ms_container {
    width: 525px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 450px;
    height: 80px;
    margin-left: 20px;
  }
  .ms_container .head .head_span1 {
    width: 300px;
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 450px;
  }
  .ms_container .chat_list .chat_item {
    width: 450px;
    height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 450px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 450px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 190px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 {
    width: 450px;
    height: 700px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 450px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 30%;
    height: 60%;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 450px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 450px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
}

@media (max-width: 425px) {
  .ms_container {
    width: 425px;
    padding-bottom: 0px;
    margin: 0 auto;
  }
  .ms_container .head {
    width: 400px;
    height: 80px;
    margin-left: 10px;
  }
  .ms_container .head .head_span1 {
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 400px;
  }
  .ms_container .chat_list .chat_item {
    width: 400px;
    height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 380px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 380px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 210px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 190px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 {
    width: 400px;
    height: 700px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 390px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 30%;
    height: 60%;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 380px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 380px;
    margin-left: 20px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 180px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
}

@media (max-width: 385px) {
  .ms_container {
    width: 385px;
  }
  .ms_container .head {
    width: 350px;
    height: 80px;
  }
  .ms_container .head .head_span1 {
    height: 80px;
  }
  .ms_container .head .head_span1 .chat_span2 {
    margin-left: 10px;
  }
  .ms_container .head .head_span1 .chat_span2 .chat_text1 {
    line-height: 25px;
  }
  .ms_container .head .chat_link1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 90px;
    font-size: small;
  }
  .ms_container .chat_list {
    width: 370px;
  }
  .ms_container .chat_list .chat_item {
    width: 370px;
    height: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ms_container .chat_list .chat_item .imgs {
    width: 350px;
  }
  .ms_container .chat_list .chat_item .animate {
    margin: 0 auto;
    width: 350px;
  }
  .ms_container .chat_list .chat_item .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top {
    width: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item .part3 .part3_bottom {
    width: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 {
    width: 370px;
    height: 700px;
  }
  .ms_container .chat_list .chat_item2 .images {
    width: 360px;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .ms_container .chat_list .chat_item2 .images .ci2_img {
    width: 30%;
    height: 60%;
    margin-top: 10px;
  }
  .ms_container .chat_list .chat_item2 .footer {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ms_container .chat_list .chat_item2 .footer .animate {
    margin: 0 auto;
    width: 350px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 350px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top {
    width: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_top .p4t_link {
    width: 200px;
    text-align: center;
    background-color: red;
    color: white;
    line-height: 15px;
  }
  .ms_container .chat_list .chat_item2 .footer .part3 .part3_bottom {
    width: 175px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: small;
  }
}
/*# sourceMappingURL=chat.css.map */