header {
  background: #000000d0;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  width: 100%;
}

header .mh_container {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .mh_container .header_img {
  width: 140px;
  height: 50px;
}

header .mh_container .header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 200px;
}

header .mh_container .header_ul .header_li {
  margin-left: 30px;
}

header .mh_container .header_ul .header_li .header_link1 {
  color: #FFFFFF80;
  font-weight: lighter;
  -webkit-transition: .4s;
  transition: .4s;
}

header .mh_container .header_ul .header_li .header_link1:hover {
  color: white;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .mh_container .header_span1 {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mh_container .header_span1 select {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  font-size: 15px;
  width: 50px;
}

header .mh_container .header_span1 select .opt {
  background-color: #000000d0;
  border: none;
}

header .mh_container .header_span1 .header_span2 {
  width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mh_container .header_span1 .header_span2 .header_link2 {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-transition: .4s;
  transition: .4s;
}

header .mh_container .header_span1 .header_span2 .header_link2:hover {
  background-color: #004267;
  border: 1px solid #004267;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1250px) {
  header {
    width: 1250px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 1250px;
    margin: 0 auto;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    width: 600px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
}

@media (max-width: 1140px) {
  header {
    width: 1140px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 1140px;
    margin: 0 auto;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    width: 500px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
}

@media (max-width: 1050px) {
  header {
    width: 1050px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 1050px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mh_container .header_img {
    width: 130px;
    height: 45px;
    margin-left: 20px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    width: 500px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
  header .mh_container .header_span1 {
    width: 300px;
    margin-right: 20px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 250px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 975px) {
  header {
    width: 975px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 975px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mh_container .header_img {
    width: 130px;
    height: 45px;
    margin-left: 10px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    width: 500px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
  header .mh_container .header_span1 {
    width: 260px;
    margin-right: 10px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 220px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 105px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  header {
    width: 850px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 850px;
    height: 100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mh_container .header_img {
    width: 130px;
    height: 45px;
    margin-left: 10px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    width: 500px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
  header .mh_container .header_span1 {
    width: 260px;
    margin-right: 10px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 220px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 105px;
    height: 50px;
    font-size: 16px;
  }
}

@media (max-width: 775px) {
  header {
    width: 775px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 775px;
    height: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .mh_container .header_img {
    width: 200px;
    height: 70px;
    margin-left: 30px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 650px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 18px;
  }
  header .mh_container .header_span1 {
    width: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 30px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 250px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 120px;
    height: 50px;
    font-size: 17px;
  }
}

@media (max-width: 650px) {
  header {
    width: 650px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 650px;
    height: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .mh_container .header_img {
    width: 250px;
    height: 70px;
    margin-left: 5px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 600px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 16px;
  }
  header .mh_container .header_span1 {
    width: 300px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: -20px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 250px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 120px;
    height: 50px;
    font-size: 17px;
  }
}

@media (max-width: 525px) {
  header {
    width: 525px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 500px;
    height: 200px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .mh_container .header_img {
    width: 200px;
    height: 60px;
    margin-left: 5px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 480px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 13.5px;
  }
  header .mh_container .header_span1 {
    width: 245px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: -20px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 210px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 100px;
    height: 40px;
    font-size: 15px;
  }
}

@media (max-width: 425px) {
  header {
    width: 425px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 425px;
    height: 180px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .mh_container .header_img {
    width: 110px;
    height: 40px;
    margin-left: 25px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 400px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 13.5px;
  }
  header .mh_container .header_span1 {
    width: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 38px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 180px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 85px;
    height: 35px;
    font-size: 12px;
  }
  header .mh_container .header_span1 .header_span2 .photo1 {
    width: 45px;
    height: 45px;
    padding-bottom: 3px;
    margin-right: 2px;
  }
}

@media (max-width: 385px) {
  header {
    width: 385px;
    margin: 0 auto;
  }
  header .mh_container {
    width: 385px;
    height: 180px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .mh_container .header_img {
    width: 110px;
    height: 40px;
    margin-left: 25px;
  }
  header .mh_container .header_ul {
    margin: 0 auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 340px;
  }
  header .mh_container .header_ul .header_li {
    margin-left: 0px;
  }
  header .mh_container .header_ul .header_li .header_link1 {
    font-size: 12px;
  }
  header .mh_container .header_span1 {
    width: 200px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: -20px;
  }
  header .mh_container .header_span1 select {
    font-size: small;
    width: 40px;
  }
  header .mh_container .header_span1 .header_span2 {
    width: 155px;
  }
  header .mh_container .header_span1 .header_span2 .header_link2 {
    width: 75px;
    height: 33px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=header.css.map */