.sm_container {
  width: 95%;
  margin: 0 auto;
}

.sm_container .head {
  width: 100%;
  height: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sm_container .head .reg_img {
  width: 10%;
  height: 25%;
}

.sm_container .head .ru {
  font-size: larger;
}

.sm_container .sign {
  width: 500px;
  height: 700px;
  margin: 0 auto;
}

.sm_container .sign .sign_text {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.sm_container .sign .sign_inp {
  width: 500px;
  height: 50px;
  margin-top: 10px;
  padding: 15px;
  font-size: large;
  text-transform: capitalize;
}

.sm_container .sign label .gender {
  color: black;
  opacity: 0.4;
  margin-top: 20px;
  font-size: large;
}

.sm_container .sign label span {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.sm_container .sign label span .gen_btn {
  border: 1px solid black;
  padding: 10px 15px;
  color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.sm_container .sign label span .gen_btn:hover {
  background-color: black;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.sm_container .sign .select {
  width: 500px;
  height: 50px;
  margin-top: 30px;
  font-size: large;
  padding: 15px;
  color: grey;
}

.sm_container .sign .select option {
  padding: 20px;
}

.sm_container .sign .sign_text2 {
  margin-top: 20px;
}

.sm_container .sign .sign_text2 a {
  color: #008DDD;
}

.sm_container .sign .sign_link {
  padding: 10px 20px;
  border: 1px solid black;
  margin-top: 30px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.sm_container .sign .sign_link:hover {
  background-color: black;
  color: white;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.sm_container .sign .sign_text3 {
  margin-top: 20px;
}

.sm_container .sign .sign_text3 a {
  color: #008DDD;
}

.donut {
  position: absolute;
  width: 15%;
  top: 700px;
}

.cube {
  position: absolute;
  width: 15%;
  left: 1100px;
  top: 200px;
}

@media (max-width: 1250px) {
  .sm_container {
    width: 1250px;
  }
  .cube {
    left: 1000px;
  }
}

@media (max-width: 1140px) {
  .sm_container {
    width: 1140px;
  }
}

@media (max-width: 1050px) {
  .sm_container {
    width: 1050px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 90%;
  }
  .sm_container .head .reg_img {
    width: 15%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
}

@media (max-width: 975px) {
  .sm_container {
    width: 975px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 90%;
  }
  .sm_container .head .reg_img {
    width: 20%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    margin: 0 auto;
    width: 500px;
    height: 700px;
  }
  .sm_container .sign .sign_text {
    font-size: 45px;
  }
  .sm_container .sign .sign_inp {
    width: 500px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 300px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 12px 18px;
  }
  .sm_container .sign .select {
    width: 500px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 500px;
    font-size: 17px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 17px;
    font-size: 17px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 850px) {
  .sm_container {
    width: 850px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 90%;
  }
  .sm_container .head .reg_img {
    width: 25%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    margin: 0 auto;
    width: 500px;
    height: 600px;
  }
  .sm_container .sign .sign_text {
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 500px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 300px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 12px 18px;
  }
  .sm_container .sign .select {
    width: 500px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 500px;
    font-size: 15px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 775px) {
  .sm_container {
    width: 775px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 90%;
  }
  .sm_container .head .reg_img {
    width: 25%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    height: 600px;
    margin-left: 35px;
  }
  .sm_container .sign .sign_text {
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 600px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 300px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 12px 18px;
  }
  .sm_container .sign .select {
    width: 550px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 585px;
    font-size: 15px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 650px) {
  .sm_container {
    width: 650px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 95%;
  }
  .sm_container .head .reg_img {
    width: 30%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    height: 600px;
    margin-left: 20px;
  }
  .sm_container .sign .sign_text {
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 600px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 300px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 12px 18px;
  }
  .sm_container .sign .select {
    width: 550px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 585px;
    font-size: 15px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 525px) {
  .sm_container {
    width: 525px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head {
    width: 95%;
  }
  .sm_container .head .reg_img {
    width: 30%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    height: 485px;
  }
  .sm_container .sign .sign_text {
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 485px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 250px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 10px 15px;
  }
  .sm_container .sign .select {
    width: 450px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 485px;
    font-size: 15px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 425px) {
  .sm_container {
    width: 425px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head .reg_img {
    width: 40%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    height: 400px;
  }
  .sm_container .sign .sign_text {
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 390px;
    margin-left: 7px;
  }
  .sm_container .sign label .gender {
    margin-left: 7px;
  }
  .sm_container .sign label span {
    width: 250px;
    margin-left: 7px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 8px 12px;
  }
  .sm_container .sign .select {
    width: 390px;
    margin-left: 7px;
  }
  .sm_container .sign .select option {
    width: 390px;
  }
  .sm_container .sign .sign_text2 {
    width: 385 px;
    font-size: 15px;
    margin-left: 7px;
  }
  .sm_container .sign .sign_link {
    margin-left: 7px;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    margin-left: 7px;
  }
}

@media (max-width: 385px) {
  .sm_container {
    width: 385px;
  }
  .sm_container .donut {
    width: 30%;
    left: 100px;
    top: 100px;
    z-index: -1;
  }
  .sm_container .cube {
    width: 30%;
    top: 350px;
    left: 200px;
    z-index: -1;
  }
  .sm_container .head .reg_img {
    width: 40%;
  }
  .sm_container .head .ru {
    font-size: large;
  }
  .sm_container .sign {
    width: 375px;
    height: 400px;
  }
  .sm_container .sign .sign_text {
    width: 370px;
    font-size: 35px;
  }
  .sm_container .sign .sign_inp {
    width: 360px;
  }
  .sm_container .sign label span {
    width: 250px;
  }
  .sm_container .sign label span .gen_btn {
    padding: 8px 12px;
  }
  .sm_container .sign .select {
    width: 360px;
  }
  .sm_container .sign .select option {
    width: 360px;
  }
  .sm_container .sign .sign_text2 {
    width: 360px;
    font-size: 15px;
  }
  .sm_container .sign .sign_link {
    padding: 10px 15px;
    font-size: 15px;
  }
  .sm_container .sign .sign_text3 {
    font-size: 15px;
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=signup.css.map */